/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Header */
header {
  background-color: #2d6a4f;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex-grow: 1;
  flex-basis: 0;
  text-align: left;
}

.logo img {
  height: 50px;
  width: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow:
    0 0 10px #52b788,
    0 0 20px #52b788,
    0 0 30px #52b788,
    0 0 40px #52b788;
  animation: glow 2s linear infinite;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  flex-basis: 0;
}

nav a,
.nav-links a {
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 0; /* Remove rounded corners */
  background-color: transparent; /* Remove background color */
  transition: color 0.3s ease;
  font-size: 1rem;
  border: none; /* Remove border */
}

nav a:hover,
.nav-links a:hover {
  color: #52b788; /* Change text color on hover */
}

/* Carousel */
.carousel {
  position: relative;
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel img {
  width: auto;
  height: auto;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}

/* Carousel Buttons */
.carousel button {
  background-color: transparent;
  color: #2d6a4f;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel button:hover {
  color: #40916c;
}

/* Arrow Icons */
.prev-btn::before {
  content: "◀"; /* Left arrow */
}

.next-btn::before {
  content: "▶"; /* Right arrow */
}

/* Services */
.services {
  padding: 40px 20px;
  background-color: #e9f5e9;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  color: #2d6a4f;
  margin-bottom: 20px;
}

.service {
  display: inline-block;
  margin: 15px;
  padding: 20px;
  border: 1px solid #2d6a4f;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 300px;
}
.service img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service:hover {
  transform: translateY(-5px);
}

/* Team */
.team {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.team h2 {
  font-size: 2rem;
  color: #2d6a4f;
  margin-bottom: 20px;
}

.team-member {
  display: inline-block;
  margin: 15px;
  padding: 20px;
  border: 1px solid #2d6a4f;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.team-member img {
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contact Form */
.contact-form {
  text-align: center;
  flex: 0 0 50%;
}

.contact-form label {
  display: block;
  font-size: 1rem;
  color: #2d6a4f;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #2d6a4f;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info > pre {
  margin: 0;
}

.include-whitespace {
  white-space: pre-wrap
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #40916c;
  box-shadow: 0 0 5px rgba(64, 145, 108, 0.5);
}

.align-right {
  text-align: right;
}

.contact-form button {
  background-color: #2d6a4f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.contact-form button:hover {
  background-color: #40916c;
}

.contact-form button:active {
  background-color: #1b4332;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
  background-color: #e9f5e9; /* Light green background */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contact-section h2 {
  font-size: 2rem;
  color: #2d6a4f;
  margin-bottom: 20px;
}

.contact-details {
  text-align: left;
}

.contact-info {
  flex: 0 0 50%;
}

.contact-details h2 {
  font-size: 2rem;
  color: #2d6a4f;
  margin-bottom: 20px;
}

.contact-details p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}

/* About Us Section */
.about-us {
  position: relative;
  background-image: url("../images/s4.jpg"); /* Path to the image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff; /* White text for better readability */
  text-align: center;
}

.about-us-overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-us-overlay h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-us-overlay p {
  font-size: 1.2rem;
  line-height: 1.8;
}

/* Footer */
footer {
  background-color: #2d6a4f;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
}

/* Metrics Section */
.metrics {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.metric {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.metric h3 {
  font-size: 2rem;
  color: #52b788;
  margin: 0;
}

.metric p {
  font-size: 1rem;
  color: #000000;
  margin: 5px 0 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .metrics {
    flex-direction: column;
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 90%;
  }

  .about-us-container {
    flex-direction: column;
    text-align: center;
  }

  .about-us-image img {
    max-width: 100%;
  }
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 10px #52b788,
      0 0 20px #52b788,
      0 0 30px #52b788,
      0 0 40px #52b788;
    color: #fff;
  }
  25% {
    text-shadow:
      0 0 10px #40916c,
      0 0 20px #40916c,
      0 0 30px #40916c,
      0 0 40px #40916c;
    color: #b7e4c7;
  }
  50% {
    text-shadow:
      0 0 10px #ffd60a,
      0 0 20px #ffd60a,
      0 0 30px #ffd60a,
      0 0 40px #ffd60a;
    color: #fff3bf;
  }
  75% {
    text-shadow:
      0 0 10px #00b4d8,
      0 0 20px #00b4d8,
      0 0 30px #00b4d8,
      0 0 40px #00b4d8;
    color: #caf0f8;
  }
  100% {
    text-shadow:
      0 0 10px #52b788,
      0 0 20px #52b788,
      0 0 30px #52b788,
      0 0 40px #52b788;
    color: #fff;
  }
}
