<section class="contact-section">
  <h2>Company Details</h2>
  <div class="contact-info-container">
    <div class="contact-details">
      <p><strong>GST No:</strong> 08CEUPR1524N1ZQ</p>
      <p><strong>Email:</strong> greensunenergy1622@gmail.com</p>
      <p><strong>Phone:</strong> +91 7014183303</p>
      <p><strong>Address:</strong> <span class="include-whitespace">
        Shop No 36, Chandaravatika, GandhiPath West,
        Near HP Petrol Pump, Jaipur,
        Rajasthan - 302021
      </span></p>
      <p><strong>Working Hours:</strong>
        <span class="include-whitespace"> 
          Mon-Fri: 9:00 AM - 7:00 PM
          Sat-Sun: 9:00 AM - 01:00 PM
        </span>
      </p>
    </div>
    <div class="map-container" style="flex:1;max-width:45%;">
      <iframe
        src="https://www.google.com/maps?q=Shop+No+36,+Chandaravatika,+GandhiPath+West,+Near+HP+Petrol+Pump,+Jaipur,+Rajasthan+-+302021&output=embed"
        width="100%"
        height="350"
        style="border:0; border-radius:10px;"
        allowfullscreen=""
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</section>
